Package: com.marlius.lyricar.spotify
Name: LyriCar Spotify
Version: 0.2.0
Architecture: iphoneos-arm64
Description: Adds synchronized LRCLIB lyrics to Spotify's CarPlay Now Playing interface.
Maintainer: Marlius92
Author: Marlius92
Section: Tweaks
Depends: firmware (>= 15.0)
